<!-- Template adopted from https://github.com/isomerpages/astar-nrp/blob/staging/_includes/careers.html -->

<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

        .people {
            display: grid;
            justify-content: space-around;
            /* grid-gap: 0px; */
            grid-template-columns: 25% 25% 25% 25%;
        }

        a.staff {
            margin-bottom: 40px;
            position: relative;
            padding: 0px;
            font-size: 14px;
            cursor: pointer;
            text-decoration: none;
        }

        a.staff:hover {
            text-decoration: none;
        }

        .staff-pic {
            width: 190px;
            height: 162px;
            border-radius: 9px 9px 0 0;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .staff-info {
            width: 190px;
            border-radius: 0 0 9px 9px;
            padding: 20px;
            text-align: left;
            color: white;
        }


        @media only screen and (max-width: 600px) {
            .people {
                grid-template-columns: 100%;
            }
        }

</style>
<div class="people">
    {% assign sorted = include.people | sort: 'name' %}
    {% for staff in sorted %}
    <a class="staff" href="/aboutus/{{ staff.functionId }}/{{ staff.id }}">
        <div class="staff-pic" style="background-image:url(/images/headshots/{{ staff.id }}.jpg)"></div>
        <div class="staff-info" style="background-color:{{include.color}}">
            <div class="staff-name">{{ staff.name }}</div>
            <div class="staff-title">{{ staff.jobTitle }}</div>
        </div>
    </a>
    {% endfor %}
</div>


