<style>
    .staff-heading {
        display: flex;
        gap: 20px;
        font-size: 16px;
    }

    .staff-main {
        display: flex;
        gap: 0;
        flex-grow: 1;
    }

    .staff-info {
        border-radius: 0 6px 6px 0;
        min-width: 330px;
        flex-grow: 1;
        height: 160px;
        overflow: hidden;
        padding: 32px;
        text-align: left;
        color: white;
        font-weight: 400;
        display: flex;
        align-items: center;
    }

    .staff-name {
        font-size: 32px;
        font-weight: 600;
    }

    .staff-pic {
        width: 160px;
        height: 160px;
        border-radius: 6px 0 0 6px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .staff-linkedin {
        margin-top: 20px;
    }

    .staff-linkedin a, .staff-linkedin a:hover {
        display: flex;
        gap: 0.5em;
        align-items: center;
        color: white;
        margin: 0;
    }

    .staff-linkedin-logo {
        display: inline-block;
        padding: 1px;
        background-color: white;
        border-radius: 3px;
        width: 22px;
        height: 22px;
    }

    q {
        display: none;
        padding-left: 20px;
        font-size: 20px;
        font-style: italic;
        border-left: 2px solid black;
        flex-grow: 1;
    }

    @media only screen and (max-width: 600px) {
        .staff-pic {
            width: 120px;
            height: 120px;
            border-radius: 6px 0 0 6px;
        }

        .staff-info {
            width: unset;
            height: unset;
            min-width: 190px;
            border-radius: 0 6px 6px 0;
            padding: 12px 12px 12px 24px;
        }

        .staff-name {
            font-size: 18px;
        }
    }
</style>

<div class="staff-heading functionId:{{include.staff.functionId}}">
    <div class="staff-main">
        <div class="staff-pic" style="background-image:url(/images/headshots/{{ include.staff.staffId }}.jpg)"></div>
        <div class="staff-info" style="background-color:{{include.color}}">
            <div>
                <div class="staff-name">{{ include.staff.name }}</div>
                <div class="staff-title">{{ include.staff.jobTitle }}</div>
            </div>
            {% if true == false %}
            <div class="staff-linkedin">
                <a href="https://www.linkedin.com/in/{{ include.staff.linkedinId }}/" target="_blank" rel="noreferrer">
                    <svg
                        viewBox="0 0 32 32"
                        fill="none"
                        class="staff-linkedin-logo"
                        style="display: inline"
                        xmlns="http://www.w3.org/2000/svg"
                        >
                        <path
                        d="M6.6439 9.59596C8.2551 9.59596 9.56123 8.28982 9.56123 6.67862C9.56123 5.06743 8.2551 3.76129 6.6439 3.76129C5.0327 3.76129 3.72656 5.06743 3.72656 6.67862C3.72656 8.28982 5.0327 9.59596 6.6439 9.59596Z"
                        fill="{{include.color}}"
                        />
                        <path
                        d="M12.3163 11.8067V27.9921H17.3416V19.9881C17.3416 17.8761 17.739 15.8307 20.3576 15.8307C22.9403 15.8307 22.9723 18.2454 22.9723 20.1214V27.9934H28.0003V19.1174C28.0003 14.7574 27.0616 11.4067 21.9656 11.4067C19.519 11.4067 17.879 12.7494 17.2083 14.0201H17.1403V11.8067H12.3163ZM4.12695 11.8067H9.16029V27.9921H4.12695V11.8067Z"
                        fill="{{include.color}}"
                        />
                    </svg>
                    <span>{{ include.staff.name }}</span>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
    <q>{{ include.staff.quote }}</q>
</div>

{% if include.staff.curProducts.size > 0 %}
<p>I joined on <strong>{{include.staff.joinDate}}</strong> and I am currently working on
{% for product in include.staff.curProducts %}
    {% assign mappedProduct=site.data.products | find_exp:"item", "item.alias contains product" %}
    {% if mappedProduct.id %}
        <strong><a href="{{mappedProduct.link}}">{{mappedProduct.title}}</a></strong>{% if forloop.last %}.{% else %},{% endif %}
    {% else %}
        <strong>{{product}}</strong>{% if forloop.last %}.{% else %},{% endif %}
    {% endif %}
{% endfor %}
</p>
{% endif %}

{% if include.staff.pastProducts.size > 0 %}
<p>Products I worked on before include
{% for product in include.staff.pastProducts %}
    {% assign mappedProduct=site.data.products | find_exp:"item", "item.alias contains product" %}
    {% if mappedProduct.id %}
        <strong><a href="{{mappedProduct.link}}">{{mappedProduct.title}}</a></strong>{% if forloop.last %}.{% else %},{% endif %}
    {% else %}
        <strong>{{product}}</strong>{% if forloop.last %}.{% else %},{% endif %}
    {% endif %}
{% endfor %}
</p>
{% endif %}

{% assign accomplishments = include.staff.accomplishments | downcase %}
{% if accomplishments == "i'm new, watch this space!" %}
**I'm new, watch this space!**
{% else %}
**Three things I've done recently which I'm proud of are...**
{{include.staff.accomplishments}}
{% endif %}
