---
title: {{name}}
permalink: /people/{{staffId}}
description: "{{name}} - {{jobTitle}}"
third_nav_title: {{functionName}}
{{yamlData}}
---

{% include staff.html staff=page color=site.colors.function-colors.{{functionId}} %}
