---
title: {{name}}
permalink: /people/{{id}}
description: "{{description}}"
---

{%- assign staff = site.data.people | find: "id", "{{id}}" -%}
{% include staff_heading.html staff=staff color=site.colors.function-colors.{{function}} %}

## About Me

**Joined on**: {{joinDate}}

**Function**: {{function}}

## What I've worked on

**Products/things I've worked on**:
{{products}}

**Some of my accomplishments**:
{{accomplishments}}
