---
layout: skeleton
---
<!-- <style>
    .bg-hero {
        background: url('{{site.baseurl}}/images/Hack2021Banner-FINAL.png') no-repeat top center;
        -webkit-background-size: cover;
        background-size: cover;
    }

    .bg-hero-bottom {
        background: url('{{site.baseurl}}/images/peoplepattern.png') no-repeat top left;
        -webkit-background-size: cover;
        background-size: cover;
    }
</style> -->

<style>
    .bg-hero {
        background: url('{{site.baseurl}}/images/ogp_banner_6july.png') no-repeat top center;
        -webkit-background-size: cover;
        background-size: cover;
    }

    .bg-hero-bottom {
        background: url('{{site.baseurl}}/images/peoplepattern.png') no-repeat top left;
        -webkit-background-size: cover;
        background-size: cover;
    }
</style>

<section class="bp-hero bg-hero">
    <div class="bp-hero-body">
        <div class="bp-container margin--top--lg margin--bottom--lg">
            <div class="row is-vcentered is-centered ma">
                <div class="col has-text-white is-hidden-touch has-text-centered"> 
                  <!--  <h1 class="display padding--bottom--lg margin--none" style="color:#276ef1"><b>Build Technology for<br>the Public Good</b></h1> -->
          <!--          <h1 class="display padding--bottom--lg margin--none"><b>Build Technology for<br>the Public Good</b></h1> -->
<!--                    <a href="{{ site.baseurl }}/#careers" class="bp-button is-white is-outlined is-uppercase search-button">Join Us</a> -->
<!--                    <a href="{{ site.baseurl }}/hackathon/2021" class="bp-button is-white is-outlined is-uppercase search-button">2021 Projects</a> -->
               </div>
 <!--               <div class="has-text-white has-text-centered is-hidden-desktop">
                    <h1 class="display padding--bottom--lg margin--none" style="font-size: 3.3rem; line-height: 4.25rem;"><b>Build Technology for the Public Good</b></h1>
                    <a href="{{ site.baseurl }}/#careers" class="bp-button is-white is-outlined is-uppercase search-button">Join Us</a> -->
<!--                    <a href="{{ site.baseurl }}/hackathon/2021" class="bp-button is-white is-outlined is-uppercase search-button">2021 Projects</a>
                </div> -->
            </div>
        </div>
    </div>
</section>

<section class="bp-section">
    <div class="bp-container padding--bottom--lg">
        <a href="{{site.baseurl}}/aboutus/">
        <div class="row">
            <div class="col is-8 is-offset-2 has-text-centered padding--top--xl">
                <p class="padding--bottom eyebrow is-uppercase">
                    About Us
                </p>
                <h1 class="padding--bottom has-text-secondary"><b>Our philosophy</b></h1>
            </div>   
        
    </div>
            </a>

        <div class="row margin--top padding--bottom">
            <div class="col is-one-third">
                <div class="text-card is-white">
                    <center><img class="text-card-icon padding--bottom--sm" src="{{site.baseurl}}/images/solve.svg" /></center>
                    <h4 class="padding--top has-text-secondary padding--bottom"><b><center>Solve Real Problems</center></b></h4>
                    <p><center>Work on meaningful projects from communications to healthcare. Use your skills to fix actual problems faced in the community, not just to optimise profit.</center></p>
                </div>
            </div>
            
            <div class="col is-one-third">
                <div class="text-card is-white">
                    <center><img class="text-card-icon padding--bottom--sm" src="{{site.baseurl}}/images/build.svg"/></center>
                    <h4 class="padding--top has-text-secondary padding--bottom"><b><center>Build for the User</center></b></h4>
                    <p><center>Design and build products based on what real people actually need, whether they are members of the public or civil servants.</center></p>
                </div>
            </div>
            
            <div class="col is-one-third">
                <div class="text-card is-white">
                    <center><img class="text-card-icon padding--bottom--sm" src="{{site.baseurl}}/images/push.svg" /></center>
                    <h4 class="padding--top has-text-secondary padding--bottom"><b><center>Push For Change</center></b></h4>
                    <p><center>Actively prototype and evangelize ideas to make real things happen. Work around or cut through bureaucracy.</center></p>
                </div>
            </div>
            
        </div>
    </div>
</section>

<section class="bp-section padding--left--none padding--right--none" style="background-color:#276ef1">
    <div class="bp-container product-container">
       <a href="{{site.baseurl}}/products/overview/">
        <div class="row">
            <div class="col is-8 is-offset-2 has-text-centered padding--top--xl">
                <p class="padding--bottom eyebrow is-uppercase has-text-white">
                    PRODUCTS
                </p>
                <h1 class="padding--bottom has-text-white padding--left--xl padding--right--xl"><b>Things we've made</b></h1>
            </div>
        </div>
        </a>
        <div class="row product-row padding--top--xl padding--bottom--xl">
        <div class="col is-half padding--top--xl padding--bottom--xl product-image" style="background-image: url('{{site.baseurl}}/images/VaccOps.png')">
            </div>
            <div class="col is-half padding--top--lg padding--bottom--lg padding--left--xl padding--right--xl">
                <h4 class="has-text-white padding--bottom"><b>COVID-19 Vaccination Booking</b></h4>
                <p class="has-text-white">Suite of systems enabling Singaporeans to book their COVID-19 vaccination appointments.</p>
                <a href="{{site.baseurl}}/products/covid19vaccination" class="padding--top--lg padding--bottom is-block" target="_blank">
                    <div class="bp-button is-white is-outlined is-uppercase search-button">
                        Learn More
                    </div>
                </a>
            </div>
        </div>
        <div class="row product-row padding--top--xl padding--bottom--xl">
            <div class="col is-half padding--top--lg padding--bottom--lg padding--left--xl padding--right--xl">
                <h4 class="has-text-white padding--bottom "><b>Parking.SG</b></h4>
                <p class="has-text-white">Parking.sg is a mobile application that allows drivers to pay for their parking sessions, receive reminders, and extend their parking sessions, straight from their mobile phones.</p>
                <a href="{{site.baseurl}}/products/parkingsg" class="padding--top--lg padding--bottom is-block" target="_blank">
                    <div class="bp-button is-white is-outlined is-uppercase search-button">
                        Learn More
                    </div>
                </a>
        </div>
        <div class="col is-half padding--top--xl padding--bottom--xl product-image" style="background-image: url('{{site.baseurl}}/images/parkingsg.png')">
            </div>
        </div>
        <div class="row product-row padding--top--xl padding--bottom--xl">
            <div class="col is-half padding--top--xl padding--bottom--xl product-image" style="background-image: url('{{site.baseurl}}/images/go.gov.sg.png')">
            </div>
        <div class="col is-half padding--top--lg padding--bottom--lg padding--left--xl padding--right--xl">
                <h4 class="has-text-white padding--bottom "><b>Go.gov.sg</b></h4>
                <p class="has-text-white">Go.gov.sg is the offical government link shortener, granting legitimacy to content shared by public officers.</p>
                <a href="{{site.baseurl}}/products/gogovsg" class="padding--top--lg padding--bottom is-block" target="_blank">
                    <div class="bp-button is-white is-outlined is-uppercase search-button">
                        Learn More
                    </div>
                </a>
            </div>
        </div>
        <div class="row product-row padding--top--xl padding--bottom--xl">
            <div class="col is-half padding--top--lg padding--bottom--lg padding--left--xl padding--right--xl">
                <h4 class="has-text-white padding--bottom "><b>ScamShield</b></h4>
                <p class="has-text-white">ScamShield is a mobile app that actively works in the background to filter scam messages and calls from numbers used in illegal activities, preventing scammers from contacting you.</p>
                <a href="{{site.baseurl}}/products/scamshield" class="padding--top--lg padding--bottom is-block" target="_blank">
                    <div class="bp-button is-white is-outlined is-uppercase search-button">
                        Learn More
                    </div>
                </a>
            </div>
            <div class="col is-half padding--top--xl padding--bottom--xl product-image" style="background-image: url('{{site.baseurl}}/images/scamshield.png')">
            </div>
        </div>
        <div class="row product-row padding--top--xl padding--bottom--xl">
            <div class="col is-half padding--top--xl padding--bottom--xl product-image" style="background-image: url('{{site.baseurl}}/images/formsg.png')">
            </div>
            <div class="col is-half padding--top--lg padding--bottom--lg padding--left--xl padding--right--xl">
                <h4 class="has-text-white padding--bottom"><b>FormSG</b></h4>
                <p class="has-text-white">FormSG is an electronic form builder with advanced features that allow public officers to build and launch forms within minutes.</p>
                <a href="{{site.baseurl}}/products/formsg" class="padding--top--lg padding--bottom is-block" target="_blank">
                    <div class="bp-button is-white is-outlined is-uppercase search-button">
                        Learn More
                    </div>
                </a>
            </div>
        </div>
    </div>
     <div class="bp-container">
        <div class="row">
            <div class="col is-8 is-offset-2 has-text-centered padding--top--xl padding--bottom--xl has-text-white">
                <h2 class="padding--bottom" style="font-weight: bold">Learn about the rest of our products.</h2>
                <a href="{{site.baseurl}}/products/overview/">
                    <div class="bp-button is-white is-outlined is-uppercase search-button" target="_blank">
                       Product Overview
                    </div>
                </a> 
            </div>
        </div>
    </div>
</section>

<!-- <section class="bp-section padding--top--none padding--bottom--none padding--left--none padding--right--none" style="background-color: black">
    <div class="bp-container is-fluid margin--left--none">
        <div class="row">
            <div class="col is-half padding--top--none padding--bottom--none" style="overflow: hidden; background-size: cover; background-position: top; background-image: url('{{site.baseurl}}/images/bg_how_we_do_it.png')">
            </div>
            <div class="col is-half padding--top--xl padding--bottom--xl padding--left--xl padding--right--xl has-text-white">
                <h1><b>How we work</b></h1>
                <h5 class="padding--top--xl padding--bottom"><b>Product Development</b></h5>
                <p>We work in small, competent product teams that prototype quickly and release frequently. We develop products from the ground up through our annual hackathon.</p>
                <h5 class="padding--top--xl padding--bottom"><b>People</b></h5>
                <p>Our career schemas reward technical expertise and leadership and we encourage continuous learning for all team members.</p>
                <h5 class="padding--top--xl padding--bottom"><b>Open Culture</b></h5>
                <p>We believe in open communication within the team, openly sharing our work and approaches with the community, and open sourcing products for the embetterment of public service everywhere.</p>
            </div>
        </div>
    </div>
</section> -->



<section class="bp-section" id="careers">
    <div class="bp-container padding--bottom--lg">
        <a href="{{site.baseurl}}/careers/overview/">
        <div class="row">
            <div class="col is-8 is-offset-2 has-text-centered padding--top--xl">
                <p class="padding--bottom eyebrow is-uppercase">
                    CAREERS
                </p>
                <h1 class="padding--bottom has-text-secondary"><b>Join us</b></h1>
            </div>
        </div>
        </a>
        <div class="row margin--top padding--bottom">
            <div class="col is-one-third">
                <div>
                   <center><img src="{{site.baseurl}}/images/product-manager.svg" /></center>
                </div>
                <center><h4 class="padding--top--lg has-text-secondary"><b>Product Manager</b></h4></center>
                <center><p class="padding--top--sm">You chart product goals. You plug gaps and gel things together to drive the project forward.</p>
                <a href="{{site.baseurl}}/careers/product-manager/" class="bp-sec-button margin--top padding--bottom"></center>
                    <div>
                        <center><span>Read More</span></center>
                    </div>
                </a>
            </div>
            <div class="col is-one-third">
                <div>
                   <center><img src="{{site.baseurl}}/images/software-engineer.svg" /></center>
                </div>
                <center><h4 class="padding--top--lg has-text-secondary"><b>Software Engineer</b></h4><center>
                <center><p class="padding--top--sm">You solve problems. You design and build systems and make sure they work.</p><center>
                <center><a href="{{site.baseurl}}/careers/software-engineer/" class="bp-sec-button margin--top padding--bottom"></center>
                    <div>
                        <center><span>Read More</span></center>
                    </div>
                </a>
            </div>
            <div class="col is-one-third">
                <div>
                    <center><img src="{{site.baseurl}}/images/product-designer.svg" /></center>
                </div>
                <center><h4 class="padding--top--lg has-text-secondary"><b>Product Designer</b></h5></center>
                <center><p class="padding--top--sm">You bridge user needs and business goals. You make the product work well and look good.</p></center>
                <center><a href="{{site.baseurl}}/careers/product-designer/" class="bp-sec-button margin--top padding--bottom"></center>
                    <div>
                        <center><span>Read More</span></center>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section> 

<section class="bp-section" style="background: #F7F7F7;">
    <div class="bp-container">
            <div class="internship-row has-text-centered">
                <img src="https://d33wubrfki0l68.cloudfront.net/3e76842c9384d514eab29b0cb24ad8128de5efb7/f2b05/images/interns.svg" alt="Interns"/>
                <span style="color:#000000; font-size: 30px !important;">are welcome all year round</span>
                <a href="/careers/internships/" class="padding--top padding--bottom is-block">
                    <div class="bp-button is-uppercase cta-button">
                        Learn More
                    </div>
                </a>
            </div>
        </div>
    <div>
</section>



<section class="bp-section bg-hero-bottom">
    <div class="bp-container">
        <div class="row">
            <div class="col is-8 is-offset-2 has-text-centered padding--top--xl padding--bottom--xl has-text-white">
                <h2 class="padding--bottom" style="font-weight: bold">Join us on our mission to build tech for public good.</h2>
                <a href="https://go.gov.sg/join-ogp">
                    <div class="bp-button is-white is-outlined is-uppercase search-button" target="_blank">
                        Apply Now
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
